.myToast-top-right {
    top: 60px;
    right: 40px;
}

#toast-container {
    top: 160px !important;
    right: 40px !important;
}

input {
    margin-top: 10px;
    border-radius: 20px !important;
    text-align: center;
    font-size: 20px;
}